html {
  scroll-behavior: smooth;
}

h1 {
  color: red;
}

.container {
  color: red;
}

.dropdown-box {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
}

.box-text {
  color: #333;
  text-decoration: none;
  background-image: url("./assets/spatter.png");
  background-size: 60%;
}

li {
  margin-left: 10px;
}

.likedheader {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

.indexheader {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

a:hover {
  background-image: url("./assets/blood_texture2.png");
  background-size: cover;
}

.recommendations {
  margin-left: 10px;
}

.recommendationsheader {
  margin: 10px;
  color: white;
}

.card-body {
  background-color: darkred;
}

.card-body h2 {
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.card-body button {
  background-color: white;
  color: darkred;
  font-weight: bold;
}

p {
  color: white;

}

.search {
  color: white;
}

.profileheader {
  color: white;
}

a.nav-link:hover {
  color: darkred;
}

li.dropdown-item {
  margin: auto;
}

.footertext {
  text-align: center;
}

.welcomeimage {
  width: 100%;
  height: 300px;
}

.signup {
  color: white;
}

.login {
  color: white;
}

.likedlist {
  color: white;
}

.profilefav {
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.recentheader {
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.showheader {
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fetchtitle {
  color: white;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fetchbutton {
  margin-left: 35px;
}

.loginemail {
  margin-left: 30px;
}

.signupname {
  margin-left: 120px;
}

.signupimage {
  margin-left: 85px;
}

.signupemail {
  margin-left: 125px;
}

.signuppass {
  margin-left: 95px;
}

.showbutton:hover {
  background-image: url("./assets/blood_texture2.png");
}

.removebutton:hover {
  background-image: url("./assets/drip.png");
  background-size: 50%;
}

.dropdown-item:hover {
  background-image: url("./assets/spatter.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: right center;
}

body {
  background-image: url("./assets/skulls.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
}


@media (max-width: 600px) {

  .demologin,
  .demolabel {
    margin-top: 10px;
    position: static;
    transform: none;
    right: auto;
  }
}

.demologin,
.demolabel {
  margin-top: 10px;
  position: static;
  transform: none;
  right: auto;
}

.demolabel {
  color: white;
}

.updateform {
  background-color: darkred;
  color: white;
}

.modal-main {
  background-color: darkred;
}

button.close {
  color: white;
}

.averageheader {
  color: white;
}

.rating-input-container {
  display: flex;
  align-items: center;
}

select {
  margin-right: 10px;
}

.ratingbutton {
  margin-left: 10px;
}

.ratingbutton:hover {
  background-image: url("./assets/blood_texture2.png");
}

.favoritesbutton:hover {
  background-image: url("./assets/blood_texture2.png");
}

.reviewbutton:hover {
  background-image: url("./assets/blood_texture2.png");
}